{% extends "blog/base.html" %}

{% block content %}

<div class="container-mt-3">
    <div class="p-5 mb-4 custom-jumbotron rounded-3">
        <div class="container-fluid py-1">

<h1  class="display-6 fw-bold">About Me</h1>
<hr class="my-4">
<p>Hi,
    My name is Grace and I am interested in AI and Cybersecurity. My experience includes managing operations that includes network engineering, systems, cloud,
    devops and Active Directory. Checkout my linkedin and Github for more information.
</p>
</div>
</div>
</div>
{% endblock content %} 