{% extends "blog/base.html" %}

{% block content %}
{% load static %} 
<!-- <div class="container-background"> -->
    <div class="container carousel-container">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static 'images/Leonardo_transparent.png' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Creating Consistent Character with Leonardo AI</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/Leonardo_Character_Reference_tran.png' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Learn Leonardo AI Character Reference</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/Top10_free_secure.png' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Top 10 Free and Secure AI</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> 



<!-- <div class="centerstage"></div>  -->
<!-- <div class="container-fluid cover-photo"> -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 grid-marg-cover">
        {% for post in post_list %}
        <div class="col">
            <a href="{{ post.image.url }}"><img src="{{ post.image.url }}" alt="">
            </a>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
            <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
        
        {% endfor %}

    </div>


{% endblock content %}


